*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fafafa;
    color:#222;
}
a{
    text-decoration: none;
    color: inherit;
}
.app-container{
    /* max-width: 1200px;
    margin: 0 auto;
    padding: 20px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content{
    /* flex-grow: 1;
    padding: 20px; */
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}